pipeline/pl_dynamic_mapping_bulk_copy.json
{
	"name": "pl_dynamic_mapping_bulk_copy",
	"properties": {
		"activities": [
			{
				"name": "GetFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adlsg2_folder",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": "demo",
							"p_folder_name": "input"
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFiles').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lkup_Sql_DB_Table",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from config where filename = '@{item().name}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_azure_sql_tbl",
									"type": "DatasetReference",
									"parameters": {
										"p_schema_name": "dbo",
										"p_table_name": "config"
									}
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lkup_Sql_DB_Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Lkup_Sql_DB_Table').output.firstRow.filetype, 'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "cp_dynamic_mapping_csv",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:05:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false,
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"value": "@json(activity('Lkup_Sql_DB_Table').output.firstRow.file_json)",
												"type": "Expression"
											}
										},
										"inputs": [
											{
												"referenceName": "ds_adls_gen2_file",
												"type": "DatasetReference",
												"parameters": {
													"p_container_name": "demo",
													"p_folder_name": "input",
													"p_file_name": {
														"value": "@activity('Lkup_Sql_DB_Table').output.firstRow.filename",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_azure_sql_tbl",
												"type": "DatasetReference",
												"parameters": {
													"p_schema_name": {
														"value": "@activity('Lkup_Sql_DB_Table').output.firstRow.sinkTableSchema",
														"type": "Expression"
													},
													"p_table_name": {
														"value": "@activity('Lkup_Sql_DB_Table').output.firstRow.sinkTableName",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}